@media (max-width:1240px){
	.menu{width: 60%;}
}
@media (max-width: 940px){
	.menu{width: 70%;}
	.hidden-sm{display: none;}
	.hidden-lg{display: block}
}
@media (max-width: 770px){

}
@media (max-width: 500px){
.list .row{margin-bottom: 15px;}
}
